<button class="show-hint-btn" label="Show hint" onclick={{action 'toggleHint'}}>?</button>

{{#if showHint}}
  Edit the CSS in the panel on the right. If your CSS is valid, you will see a preview.
{{/if}}