<div class="isolated-card default-card">
  <div class="field-renderer view-field field-intro field-type-cardstack-core-types-string">
    <span>
      We are delighted to invite you to the wedding of
    </span>
  </div>
  <div class="flourish top"></div>
  <div class="field-renderer view-field field-spouse-one field-type-cardstack-core-types-string">
    <span>
      Willa Karciana
    </span>
  </div>
  <div class="ampersand">
    &
  </div>
  <div class="field-renderer view-field field-spouse-two field-type-cardstack-core-types-string">
    <span>
      Ikram Eko
    </span>
  </div>
  <div class="flourish flourish-bottom"></div>
  <div class="field-renderer view-field field-wedding-date field-type-cardstack-core-types-date">
    <span>
      August 8th, 2020
    </span>
  </div>

  <div class="field-renderer view-field field-location field-type-cardstack-core-types-string">
    <span>
      The Gorgeous Hotel, 96 Hilton Avenue, San Francisco, CA
    </span>
  </div>
  <div class="field-renderer view-field field-rsvp-by field-type-cardstack-core-types-date">
    <div class="request-text">
      Your RSVP is requested by
    </div>
    <span>
      September 6th, 2020
    </span>
  </div>
  <div class="field-renderer view-field field-rsvp-link field-type-cardstack-core-types-string">
    <a href="#">
      www.karciana-eko.example.com
    </a>
  </div>
</div>