@import 'catalog.css';
@import 'hint.css';

.display-wrapper {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
  color: #2e2d38;
}

.default-padding {
  padding: 5%;
}

body {
  background-color: #2f226c;
  color: #f2f2f2;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

iframe {
  width: 100%;
  height: 40vh;
}

.show-hint-btn {
  border-radius: 20px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  width: 20px;
  padding: 0;
  margin-left: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: 40% 55%;
  grid-gap: 5%;
}

.full-width {
  width: 100%;
}

.code-panel-heading {
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 1.5em;
}

.right-col {
  background-color: #161030;
  padding: 30px;
  height: 100vh;
}

.left-col {
  padding: 30px;
}

.hint-text {
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 10px;
  line-height: 1.5em;
}