.catalog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 5%;
}

.catalog-item.display-wrapper {
  min-height: 100px;
  border: 1px solid white;
  font-size: 18px;
  text-decoration: none;
  line-height: 1.15em;
  box-shadow: none;
}

.catalog-item:hover {
  box-shadow: 0 10px 20px rgba(4, 2, 50, 0.604), 0 6px 6px rgba(4, 2, 50, 0.604);
  border: 1px solid rgb(17, 17, 17);
}

.catalog-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0.75em;
}