<button class="show-hint-btn" label="Show hint" {{on "click" this.toggleHint}}>
  ?
</button>

<div>
  {{#if this.showHint}}
    <p class="hint-text">
      {{yield}}
    </p>
  {{else}}
  {{/if}}
</div>