<div class="grid-container">
  <div class="left-col">
    <Hint />
    <div class="display-wrapper">
      {{fake-card}}
    </div>
    <style id="card-styles"></style>
  </div>

  <div class="right-col">
    <div class="code-panel-heading">CODE</div>
    {{code-editor
      language="css"
      code=this.codeSamples.defaultCss
      onChange=(action (mut this.codeSamples.defaultCss))
      theme="vs-dark"
      onReady=(action editorReady)
      onValidate=this.handleValidate
    }}

    {{code-editor
      language="html"
      code=this.codeSamples.markup
      theme="vs-dark"
    }}
  </div>

</div>
