
<p>Edit the CSS below and click preview.</p>
<div class="display-wrapper">
  {{fake-card}}
</div>


{{code-editor
  language="css"
  code=sample1
  onChange=(action (mut sample1))
  theme="vs-dark"
  onReady=(action editorReady)
}}

{{code-editor
  language="html"
  code=sample2
  theme="vs-dark"
}}

<button onclick={{action this.preview}}>Preview</button>