
<p>Edit the CSS below and click preview.</p>
<div class="display-wrapper">
  {{fake-card}}
</div>


{{code-editor
  language="css"
  code=this.codeSamples.brokenCss
  onChange=(action this.handleEdit)
  theme="vs-dark"
  onReady=(action editorReady)
}}

{{!-- {{code-editor
  language="html"
  code=this.codeSamples.markup
  theme="vs-dark"
}} --}}

<button onclick={{action this.preview}}>Preview</button>